.mv{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .mv-content{
        width: 100%;
        height: 40vh;
        background: url(../../../Images/mishon.png) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    @media all and (max-width: 1024px) {
        height: 25vh;
      }  
      @media all and (max-width: 768px) {
        height: 30vh;
      }  
      @media all and (max-width: 480px) {
        height: 40vh;
      }   
        .mv-filter{
            width: 100%;
            height: 40vh;
            background:rgba(255, 255, 255, 0.9);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media all and (max-width: 1024px) {
                height: 25vh;
            }  
            @media all and (max-width: 768px) {
                height: 30vh;
              }  
              @media all and (max-width: 480px) {
                height: 35vh;
              }   
            .mv-mishon{
                display: flex;
                height: 20%;
                width: 65%;
                //background: #CA6680;
                align-items: center;
                justify-content: center;
                @media all and (max-width: 1024px) {
                    width: 96%;
                }  
                @media all and (max-width: 768px) {
                    width: 100%;
                  }  
                  @media all and (max-width: 480px) {
                    width: 110%;
                  }  
                .mvB{
                    font-weight:bold;
                    color:#631a86;
                    font-size: 4em;
                    @media all and (max-width: 768px) {
                        font-size: 3em;
                      }  
                      @media all and (max-width: 480px) {
                        font-size: 2.5em;
                      }  
                }
                .mvText{
                    color: black;
                    font-size: 1.5em;
                    overflow: hidden;
                    white-space: nowrap;
                    @media all and (max-width: 768px) {
                        font-size: 1.15em;
                      }  
                      @media all and (max-width: 480px) {
                        font-size: 1em;
                        width: 60%;
                        height: 10%;
                        overflow: visible;
                        text-align: center;
                        white-space: normal;
                      }  
                }
                .mvText[data-scroll='in']{
                    @media all and (max-width: 1920px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                    @media all and (max-width: 1024px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                    @media all and (max-width: 768px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                      @media all and (max-width: 420px) {
                        animation: none;
                      }  
                }
            }
            .mv-vishon{
                display: flex;
                height: 20%;
                width: 70%;
                align-items: center;
                justify-content: center; 
                @media all and (max-width: 1024px) {
                    width: 103%;
                }  
                @media all and (max-width: 768px) {
                    width: 105%;
                  }  
                .mvB{
                    font-weight:bold;
                    color:#631a86;
                    font-size: 4em;
                    @media all and (max-width: 768px) {
                        font-size: 3em;
                      }  
                      @media all and (max-width: 480px) {
                        font-size: 2.5em;
                      } 
                }
                .mvText{
                    font-size: 1.5em;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 90%;
                    @media all and (max-width: 768px) {
                        font-size: 1.15em;
                      }  
                      @media all and (max-width: 480px) {
                        font-size: 1em;
                        width: 60%;
                        height: 10%;
                        overflow: visible;
                        text-align: center;
                        white-space: normal;
                      } 
                }
                .mvText[data-scroll='in']{
                    @media all and (max-width: 1920px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                    @media all and (max-width: 1024px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                    @media all and (max-width: 768px) {
                        animation: typing 4.5s steps(22, end) forwards, blink 1s infinite;
                      }  
                      @media all and (max-width: 420px) {
                        animation: none;
                      }  
                }
            }
        }
        
    }
}

@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 74%;
    }
}

@keyframes blink{
    0%{
        border-right: 2px solid transparent;
    }
    100%{
        border-right: 2px solid #631a86;
    }
}